{% extends "base.html" %}
{% block content %}
    <ul class="list-group">
    {% for item in playlists %}
    <li class="list-group-item">{{ item[0] }}</li>
    {% endfor %}
    </ul>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.origin_playlist.label }}<br>
            {{ form.origin_playlist(size=32) }}
        </p>
        <p>
            {{ form.destination_playlist.label }}<br>
            {{ form.destination_playlist(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}