{% extends "base.html" %}
{% block content %}
<div class="container text-center bg row narrow centered-button">

    <a href="{{url_for('mirror')}}" class="btn btn-dark centered top-buffer col-xs-12 actions-buttons bg-dark" data-toggle="tooltip" title="Takes each track from given playlist and replaces it with the least popular track from the same artist."><b>Mirror playlist</b></a>
    <a href="{{ url_for('one_album_one_track') }}" class="btn btn-dark centered top-buffer col-xs-12 actions-buttons" data-toggle="tooltip" title="Creates playlist that contains one random track from every album from given aritst."><b>One track for one album</b></a>
    <a href="{{ url_for('all_about_that_track') }}" class="btn btn-dark centered top-buffer col-xs-12 actions-buttons" data-toggle="tooltip" title="Returns information about given track"><b>All about that track</b></a>
    <a href="{{ url_for('get_least_popular_track') }}" class="btn btn-dark centered top-buffer col-xs-12 actions-buttons" data-toggle="tooltip" title="Returns track with least popularity (not views) from given artist."><b>Least popular track</b></a>
    <a href="{{ url_for('deep_recommendations') }}" class="btn btn-dark centered top-buffer col-xs-12 actions-buttons" data-toggle="tooltip" title="Creates playlist based on given seed and depth of search."><b>Deep recommendations</b></a>


</div>
{% endblock %}
