{% extends "base.html" %}
{% block content %}
<div class="containter narrow">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ wtf.form_field(form.track_id) }}
        </p>
    <div class="container">
        <p>{{ wtf.form_field(form.submit) }}  {% if error_message %} Wrong ID {% endif %}</p>
    </div>
    </form>
</div>

{% if track %}
    <h1 style="text-align: center;"> {{ track['name']}} by {{ track['artist']}}</h1>
    <iframe class="img-center" src="https://open.spotify.com/embed/track/{{ track['id'] }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{% endif %}

{% if audio_features %}
    <div class="ct-chart ct-perfect-fourth container horizontal-chart narrow"></div>
{% endif %}

{% if  track['lyrics']%}
    <div id="flip" class="btn btn-primary toggle-down-bar">Lyrics</div>
        <div id="panel">
                {% for verse in track['lyrics'].split('\n') %}
                    <ul class="text-center">{{ verse }}</ul>
                {% endfor %}
        </div>
{% endif %}

{% if artist %}
    <div>
{#        BIO#}
        <div class="container">
            <div class="card mb-3">
              <img class="card-img-top" src="{{ artist['artist banner'] }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Artist bio</h5>
                <p class="card-text text-justify">{{ artist['artist_bio'] }}</p>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"><span class="material-icons">vpn_key</span> Specifics</h5>
                        <p class="card-text">
                            <p>Genre: {{ artist['genre'] }}</p>
                            <p>Style: {{ artist['style'] }}</p>
                            <p>Mood: {{ artist['mood'] }}</p>
                            <p>{% if track %}Duration: {{ track['duration']['minutes'] }}:{{ track['duration']['seconds'] }} {% endif %}</p>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Info</h5>
                        <p class="card-text">
                            <p>Formed year: {{ artist['formed_year'] }}</p>
                            <p>Number of members: {{ artist['number of members'] }}
                            <p>Country: {{ artist['country'] }}</p>
                            <p>Website: {{ artist['website'] }}</p>
                            <p>Facebook: {{ artist['facebook'] }}</p>
                        </p>
                      </div>
                    </div>
                  </div>
            </div>
{#        DISCOGRAPHY#}
        <div class="card-group" style="padding-top: 2rem;">
            {% for album in artist['discography'] %}
                <div class="card" style="min-width: 18rem;">
                    <img class="card-img-top" src="{{ album["strAlbumThumb"] }}" alt="Cover img not found">
                    <div class="card-body">
                      <h5 class="card-title">{{ album['strAlbum'] }}</h5>
                      <p class="card-text">{{ album["strDescriptionEN"] }}</p>
                      <p class="card-text"><small class="text-muted">Year: {{ album['intYearReleased'] }}</small></p>
                    </div>
                </div>
{#                <ul>Album: <img class="cover" src="{{ album["strAlbumThumb"] }}"> {{ album['strAlbum'] }} Year: {{ album['intYearReleased'] }}</ul>#}
            {% endfor %}
        </div>
    </div>
{% else %}
    <div>{{ audiodb_error }}</div>
{% endif %}
{#    audio features chart#}
<script>
    new Chartist.Bar('.ct-chart', {
      labels: ['energy', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence'],
      series: [
        [{{ audio_features['energy'] }}, {{ audio_features['speechiness'] }}, {{ audio_features['acousticness'] }},
            {{ audio_features['instrumentalness'] }}, {{ audio_features['liveness'] }}, {{ audio_features['valence'] }}]
      ]
    }, {
      seriesBarDistance: 10,
      reverseData: true,
      horizontalBars: true,
      axisY: {
        offset: 70
      }
    });

</script>
{% endblock %}