{% extends "base.html" %}
{% block content %}
<div class="container narrow">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ wtf.form_field(form.playlist_name) }}
        </p>

        {% if is_unique == False %}
            <div>
                <p>{{ wtf.form_field(form.submit) }}</p>
                <p>Name must be unique</p>
            </div>
        {% elif number_of_user_playlists == 3%}
            <div>
                <p>{{ wtf.form_field(form.submit) }}</p>
                <p>User can own up to 3 playlists</p>
            </div>
        {% else %}
            <div>
            <p>{{ wtf.form_field(form.submit) }}</p>
            </div>
        {% endif %}
    </form>

    <form action="" method="post" novalidate>
        {{ delete_form.hidden_tag() }}
        <p>
            {{ wtf.form_field(delete_form.user_playlist) }}
        </p>

        <div>
        <p>{{ wtf.form_field(delete_form.submit) }}</p>
        </div>
    </form>
{% for p in up %}
<a href="{{ p['link'] }}">
    <p class="list-group-item text-white" style="border-radius: 20px; background-color: #1DB954;" >
        <span class="material-icons" style="transform: rotate(270deg);">contactless</span>   {{ p['name'] }}
    </p>
</a>
{% endfor %}
</div>
{% endblock %}